.itemlistcontenedor {
    margin: 40px auto;
    max-width: 900px;

    .item_Titulo {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }

    .logo_Carrito {
        max-width: 100px;
        display: flex;
        align-items: center;
        margin: 0 auto;

    }
    
    .item_Parrafo {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;
    }
}

